ul {
  list-style-type: none; 
  margin: 0;
  padding: 0;
  display: flex; 
  justify-content: center; 
}

li {
  background-color: #004661;
  padding: 10px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
  border: 7px turquoise;
  border-style: outset;
}

li:hover {
  background-color: #004661;
  padding: 10px;
  margin-left: 100px;
  margin-right: 100px;
  border: 7px turquoise;
  border-style: inset;
}

a {
  display: block; 
  color: #D4FF00; 
  text-decoration: underline; 
}

a:hover {
  display: block;
  background-color: #D4FF00;  
  color: black;
}

body {
  text-align=center;
}
