ul {
  list-style-type: none; 
  margin-top: 25px;
  padding: 0;
  display: flex; 
  justify-content: center; 
}

li {
  background-color: #004661;
  padding: 10px;
  border: 7px #D4FF00;
  border-style: outset;
  width: 75px;
  margin-left: 50px;
  margin-right: 50px;
}

li:hover {
  background-color: #004661;
  padding: 10px;
  border: 7px #D4FF00;
  border-style: inset;
  width: 75px;
  margin-left: 50px;
  margin-right: 50px;
}

a {
  display: block; 
  color: #D4FF00; 
  text-decoration: underline; 
}

a:hover {
  display: block;
  background-color: #D4FF00;  
  color: black;
}

body {
  text-align: center;
}

.index-page {
  background-color: #3dd6d0;
}

.page-two {
  background-color: #71f79f;
}

.page-three {
  background-color: #15b097;
}

.page2h4 {
  margin-top: 40px;
  margin-bottom: 15px;
}

.paragraph2 {
  margin-top: 30px;
  margin-bottom: 6px;
}

.picturelink:hover {
  background-color: transparent;
}

.logo {
  border: 7px groove #cc0066;
}

.logo:hover {
  border: 7px ridge #ff0066;
}

.h4input {
  margin-top: 75px;
}
